.takk {
  &__container {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__tittel {
    margin: 1rem 0;
  }
  &__alert {
    @media @minDesktop {
      width: 50%;
    }
  }
  &__knapp {
    margin-top: 1.5rem;
  }
  &__icon {
    width: 5rem;
    height: 5rem;
  }
}
