
.kontor-info-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3em;
}

.kontor-info-result {
  margin-left: 1em
}

.kontor-info-lenke {
  margin-top: 0.2em;
}
