
.finn-kontor__lenke {
  margin-top: 0.25em;
}

.finn-kontor__resultat {
  margin-top: 0.5em;
}

.finn-kontor__kontorliste {
  display: flex;
  flex-direction: column;
  margin-top: 0.25em;
}

.finn-kontor__knapp {
  margin-top: 0.5em;
}