.ros-til-nav {
  &__knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
  }
  &__knapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  &__label {
    margin: 0.75rem 0;
  }

  &__control,
  &-feil__control {
    margin: 1rem 0;
  }

  &__value-container,
  &-feil__value-container {
    padding: 0.75rem;
  }

  &-feil__control {
    border-color: #ba3a26;
  }

  &-feil__value-container,
  &-feil__indicators {
    background-color: #f3e3e3;
  }
}

.knapp {
  width: 12rem;
}

.textarea--medMeta {
  min-height: 10rem;
}
