.ros-til-nav {
  &__knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
  }
  &__knapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
}

.knapp {
  width: 12rem;
}

.textarea--medMeta {
  min-height: 10rem;
}
