.serviceKlage {
  &__login-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__container {
  }
  &__content {
    padding-top: 1rem;
    > * {
      padding: 0.5rem 0;
    }
  }
  &__login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    > * {
      margin: 0.5rem 0;
    }
  }
  &__knapper {
    display: flex;
  }
  &__knapp {
    margin-right: 0.5rem;
  }
}
