.serviceKlage {
  &__login-info {
    margin-bottom: 1rem;
  }
  &__login-lenke {
    margin-left: 2rem;
  }
  &__fullmakt {
    margin-bottom: 1rem;
  }
  &__content {
    > * {
      padding: 0.5rem 0;
    }
  }
  &__knapper {
    display: flex;
  }
  &__knapp {
    margin-right: 0.5rem;
  }
}
