@paddingy: 1.5em;
@paddingx: @paddingy*1.62;

@ikonSize: 5em;

.setBoxShadowColor(@color) {
  box-shadow: inset 4px 4px @color, inset -4px -4px @color;
}

.ikonpanel {
  padding: @paddingy @paddingx;
  margin-top: @ikonSize/2;
  //box-shadow: inset 4px 4px @navGra80, inset -4px -4px @navGra80;
  .setBoxShadowColor(@navGra80);

  &__ikon {
    width: @ikonSize;
    height: @ikonSize;
    position: relative;
    left: 50%;
    margin-top: -(@ikonSize/2 + @paddingy);
    margin-left: -@ikonSize/2;

    background-color: white;
    padding: 1em;

    //border-radius: 8px;
    //border: 2px solid @navGra80;
  }

  &__innhold {
    margin: (@ikonSize/2 - @paddingy) 0;
  }

  &__header {

  }

  &__body {
    margin-top: 1em;
  }
}

