.ringoss {
  &__kolonne {
    width: 10rem;
  }
  &__kolonne:first-child {
    padding-left: 0;
  }
  &__tabell-tastevalg {
    margin-bottom: 1rem;
  }
  &__tabell-spesialnr {
    margin-bottom: 1rem;
  }
  &__visnr {
    border: 0;
    padding: 0;
    > * {
      margin-right: 0.25rem;
    }
  }
  &__andre {
    margin: 2rem 0 0 0;
  }
  &__tlf {
    margin-top: 1rem;
  }
}
