
.sprakvelger {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;

  &__ikon-container {
  }

  &__ikon {
    width: 24px;
    height: 24px;
    margin-left: 0.5em;
  }

  @media (max-width: @screen-tablet) {
    margin: 0 0 1.5em 0;
  }
}
