.bestilling-av-samtale {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__tittel {
    display: flex;
    justify-content: center;
    max-width: 615px;
    text-align: center;
    width: 100%;
  }
  &__ingress {
    max-width: 615px;
    margin-bottom: 2rem;
    width: 100%;
  }
  &__tidsrom {
    max-width: 315px;
    width: 100%;
  }
  &__knapper {
    margin-top: 2rem;
    display: flex;
  }
  &__knapp {
    margin-right: 0.5rem;
  }
}
