@minDesktop: ~"all and (min-width: 959px)";
@maxTablet: ~"all and (max-width: 959px)";
@minMobile: ~"all and (min-width: 420px)";
@maxMobile: ~"all and (max-width: 420px)";

@import (reference) "~nav-frontend-core/less/_variabler";

@import "~nav-frontend-typografi-style";
@import "~nav-frontend-paneler-style";
@import "~nav-frontend-veileder-style";
@import "~nav-frontend-veilederpanel-style";
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-chevron-style";
@import "~nav-frontend-lenkepanel-style";
@import "~nav-frontend-skjema-style";
@import "~nav-frontend-lenker-style";
@import "~nav-frontend-spinner-style";
@import "~nav-frontend-tabell-style";
@import "~nav-frontend-alertstriper-style";

@import "App.less";
@import "pages/kontakt-oss-frontpage/KontaktOss.less";
@import "components/lenkepanel/Lenkepanel.less";
@import "components/linksection/LinkSection.less";
@import "pages/tilbakemeldinger/Tilbakemeldinger.less";
@import "pages/tilbakemeldinger/ros-til-nav/Ros.less";
@import "pages/tilbakemeldinger/service-klage/ServiceKlage.less";
@import "components/takk/Takk.less";
@import "pages/samisk/bestilling-av-samtale/BestillingAvSamtale.less";
@import "pages/404/404.less";
@import "pages/skriv-til-oss/SkrivTilOss.less";
@import "pages/chat/Chat.less";

@import "components/header/Header.less";
@import "components/tilbake/Tilbake.less";
@import "components/box/Box.less";
@import "components/icon/Icon.less";

@import "components/breadcrumbs/Breadcrumbs.less";
@import "components/ikonpanel/IkonPanel.less";
@import "components/routerlenke/RouterLenke.less";
